.container {
  container-type: inline-size;
  max-width: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  padding: var(--ds-size-3);
  @media (min-width: 48rem) {
    padding: var(--ds-size-6);
  }
}

.form {
  background-color: var(--ds-color-neutral-surface-tinted);
  border-radius: var(--ds-border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-8);
  padding: var(--ds-size-3);
}

:global(.ds-alert) {
  --dsc-alert-padding-inline-end: var(--ds-size-3);
}

@container (min-width: 23.5rem) {
  .form {
    padding: var(--ds-size-6);
  }

  :global(.ds-alert) {
    --dsc-alert-padding-inline-end: var(--ds-size-6);
  }
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-2);
}

.pagination {
  align-self: center;
}
