.uds-progressBar {
  @composes ds-focus from '@digdir/designsystemet-css/base.css';

  --uds-progressBar-height: var(--ds-size-3);
  --uds-progressBar-width: calc(100% - var(--uds-progressBar-padding));
  --uds-progressBar-background: var(--ds-color-surface-tinted);
  --uds-progressBar-border-color: var(--ds-color-border-default);
  --uds-progressBar-foreground: var(--ds-color-neutral-base-default);
  --uds-progressBar-focus-border-radius: var(--ds-border-radius-md);

  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  border-radius: var(--uds-progressBar-focus-border-radius);

  & > u-progress {
    position: relative;
    height: var(--uds-progressBar-height);
    width: 100%;
    background: var(--uds-progressBar-background);
    border: 1px solid var(--uds-progressBar-border-color);
    border-radius: var(--ds-border-radius-full);

    &::before {
      background: var(--uds-progressBar-foreground);
      border: inherit;
      border-radius: inherit;
      transition: 0.5s;
      /* avoid being placed offset due to border of background bar */
      position: absolute;
      top: -1px;
      left: -1px;
    }
  }
  /**
   * Colors
   */
  &[data-color] {
    --uds-progressBar-background: var(--ds-color-surface-tinted);
    --uds-progressBar-border-color: var(--ds-color-border-default);
    --uds-progressBar-foreground: var(--ds-color-base-default);
  }
}
