.dataBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ds-color-neutral-surface-tinted);
  height: 25rem;
  border-radius: var(--ds-border-radius-md);
}
