@import '../node_modules/@udir-design/icons/dist/css/circle.css';
@import '../node_modules/@udir-design/icons/dist/css/circleFill.css';
@import '../node_modules/@udir-design/icons/dist/css/chevronDown.css';
@import '../node_modules/@udir-design/icons/dist/css/chevronUp.css';
@import '../node_modules/@udir-design/icons/dist/css/clipboard.css';
@import '../node_modules/@udir-design/icons/dist/css/clipboardFill.css';
@import '../node_modules/@udir-design/icons/dist/css/checkmark.css';
@import '../node_modules/@udir-design/icons/dist/css/checkmarkCircle.css';
@import '../node_modules/@udir-design/icons/dist/css/checkmarkCircleFill.css';
@import '../node_modules/@udir-design/icons/dist/css/informationSquare.css';
@import '../node_modules/@udir-design/icons/dist/css/informationSquareFill.css';
@import '../node_modules/@udir-design/icons/dist/css/paperplane.css';
@import '../node_modules/@udir-design/icons/dist/css/paperplaneFill.css';
@import '../node_modules/@udir-design/icons/dist/css/sealCheckmark.css';
@import '../node_modules/@udir-design/icons/dist/css/sealCheckmarkFill.css';
@import '../node_modules/@udir-design/icons/dist/css/tasklist.css';
@import '../node_modules/@udir-design/icons/dist/css/tasklistFill.css';
@import '../node_modules/@udir-design/icons/dist/css/xMarkOctagon.css';
@import '../node_modules/@udir-design/icons/dist/css/xMarkOctagonFill.css';
