.uds-prose {
  > *:not(.ds-dialog),
  section > *:not(.ds-dialog) {
    margin-block-end: var(--ds-size-5);
  }

  > .ds-heading,
  > section > .ds-heading {
    margin-block-end: var(--ds-size-4);
    margin-block-start: var(--ds-size-8);

    &:where([data-size='2xl']) {
      margin-block-start: var(--ds-size-12);
    }

    &:where([data-size='xl']) {
      margin-block-start: var(--ds-size-11);
    }

    &:where([data-size='lg']) {
      margin-block-start: var(--ds-size-10);
    }

    &:where([data-size='md']) {
      margin-block-start: var(--ds-size-9);
    }

    &:where([data-size='sm']) {
      margin-block-start: var(--ds-size-8);
    }

    &:where([data-size='xs']) {
      margin-block-start: var(--ds-size-7);
    }

    &:where([data-size='2xs']) {
      margin-block-start: var(--ds-size-6);
    }
  }
  > .ds-heading:first-child,
  section:first-child > .ds-heading:first-child {
    margin-block-start: 0;
  }
}
