.stack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  margin: var(--ds-size-8) 0 !important;
}

@media screen and (min-width: 600px) {
  .stack {
    flex-direction: row;
  }
}
