.ds-tabs {
  --dsc-tabs-tab-color: var(--ds-color-text-default);
  --dsc-tabs-tab-color--hover: var(--ds-color-text-sublte);
  --dsc-tabs-list-border-color: var(--ds-color-border-subtle);
  --dsc-tabs-tab-color--selected: var(--ds-color-text-default);

  &[data-color='accent'] {
    --dsc-tabs-tab-color: var(--ds-color-text-subtle);
    --dsc-tabs-tab-color--hover: var(--ds-color-border-default);
  }

  :is([role='tablist'], u-tablist) > :is([role='tab'], u-tab) :where(img, svg) {
    font-size: 1.83184ex;
    height: 1.25em; /* Auto scale icon based on font-size */
    width: auto;
  }
}
