.ds-tabs {
  --dsc-tabs-tab-color: var(--ds-color-text-subtle);
  --dsc-tabs-tab-color--hover: var(--ds-color-text-sublte);
  --dsc-tabs-list-border-color: var(--ds-color-border-subtle);
  --dsc-tabs-tab-color--selected: var(--ds-color-text-default);

  :is([role='tablist'], u-tablist) > :is([role='tab'], u-tab) {
    &[aria-selected='true'] {
      font-weight: var(--ds-font-weight-semibold);

      &::after {
        background: var(--ds-color-text-subtle);
      }
    }
    &:hover:not([aria-selected='true']) {
      background: var(--ds-color-surface-hover);
    }
  }

  &[data-variant='card'] {
    :is([role='tablist'], u-tablist) {
      overflow: visible;

      & > :is([role='tab'], u-tab) {
        border: var(--ds-border-width-default) solid transparent;
        border-bottom: none;
        border-radius: var(--ds-border-radius-default)
          var(--ds-border-radius-default) 0 0;
        flex-shrink: 0;
        margin-bottom: calc(var(--ds-border-width-default) * -1);
        position: relative;
        transition-duration: 0.2s;
        transition-property: background-color, color, border-color;

        &::after {
          display: none;
        }

        &[aria-selected='true'] {
          background: var(--ds-color-surface-default);
          border-color: var(--dsc-tabs-list-border-color);
        }
      }
    }
  }

  /* Tabpanel card variant */
  :is([role='tabpanel'], u-tabpanel)[data-variant='card'] {
    background: var(--ds-color-surface-default);
    border: var(--ds-border-width-default) solid
      var(--dsc-tabs-list-border-color);
    border-top: none;
    border-radius: 0 0 var(--ds-border-radius-default)
      var(--ds-border-radius-default);
  }
}
