:is(.ds-togglegroup, .ds-toggle-group) {
  --dsc-togglegroup-button-size: var(
    --udsc-density-toggle-group-button-size,
    var(--ds-size-12)
  );

  label {
    height: var(--dsc-togglegroup-button-size);
  }

  label:has(input:checked) {
    --dsc-button-border-color: var(--ds-color-text-default);
  }
}
