:is(.ds-togglegroup, .ds-toggle-group) {
  label {
    height: var(--dsc-togglegroup-button-size);
  }

  label:has(input:checked) {
    --dsc-button-border-color: var(--ds-color-text-default);
  }
}
