.components {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--ds-size-8);
  margin: 0 auto;
  background-color: var(--ds-color-neutral-background-default);
  border-radius: var(--ds-border-radius-md);
}

.card {
  container-type: inline-size;
  background-color: var(--ds-color-neutral-background-tinted);
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-3);

  @media (min-width: 48rem) {
    padding: var(--ds-size-6);
  }
}

.cardTitle {
  margin-top: var(--ds-size-3);
  margin-bottom: var(--ds-size-2);
}

.student {
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
  padding: var(--ds-size-1) 0;
}

.tableContainer {
  overflow-x: auto;
  margin-bottom: var(--ds-size-6);
  margin-top: var(--ds-size-4);
}

.table {
  width: 100%;
  table-layout: fixed;
}

.tableSelect {
  width: 10rem;
}

.tableHeader {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-4);
  align-items: end;
  justify-content: space-between;
  margin-top: var(--ds-size-4);
}

.tableFilter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
  margin-top: var(--ds-size-2);
}

.tableFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: var(--ds-size-6);
  gap: var(--ds-size-2);
  /* --table-demo-export-button-width: 160px; */
  --table-demo-footer--one-line: ;
  --table-demo-footer--wrapped: initial;

  @container (min-width: 28.5rem) {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 0;
    --table-demo-footer--one-line: initial;
    --table-demo-footer--wrapped: ;
  }
}

.tableSearch {
  width: 16.25rem;
}

.dialogActions {
  display: flex;
  gap: var(--ds-size-2);
}

.exportButton {
  align-self: start;
}
.exportDialog {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.justifyEnd {
  justify-content: flex-end;
}

.row > :nth-child(1) {
  width: 1.25rem;
}

.row > :nth-child(2) {
  width: calc(2.625rem + 15ch);
}

.row > :nth-child(3) {
  width: 16ch;
}

.row > :nth-child(4) {
  width: 9ch;
}

.row > :nth-child(5) {
  width: 8ch;
}

.row > :nth-child(6) {
  width: 12ch;
}

.row > :nth-child(7) {
  width: 2.5rem;
}
