/* You can add global styles to this file, and also import other style files */

// .content {
//   display: grid;
//   grid-template-rows: auto 1fr auto;
//   min-height: 100vh;
// }

// .outlet {
//   padding: var(--ds-size-6);
// }

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv05' 1; /* Enable lowercase l with tail */
  height: 100vh;

  #root {
    height: 100%;
  }

  .content {
    max-width: 80rem;
    margin: 0 auto;
    padding-block: var(--ds-size-5);
  }
}
