.uds-form-navigation {
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  --uds-form-navigation-active-text-stroke: 0.025em;
  --uds-form-navigation-completed-icon: var(--uds-icon-checkmarkCircle);
  --uds-form-navigation-completed-active-icon: var(
    --uds-icon-checkmarkCircleFill
  );
  --uds-form-navigation-invalid-icon: var(--uds-icon-xMarkOctagon);
  --uds-form-navigation-invalid-active-icon: var(--uds-icon-xMarkOctagonFill);
  --uds-form-navigation-icon-size: 1.3em;

  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);

  .uds-form-navigation__step {
    --uds-form-navigation__step-idle-icon: var(--uds-icon-circle);
    --uds-form-navigation__step-active-icon: var(--uds-icon-circleFill);
    --uds-form-navigation__step-info-icon: var(--uds-icon-informationSquare);
    --uds-form-navigation__step-info-active-icon: var(
      --uds-icon-informationSquareFill
    );
    --uds-form-navigation__step-summary-icon: var(--uds-icon-clipboard);
    --uds-form-navigation__step-summary-active-icon: var(
      --uds-icon-clipboardFill
    );
    --uds-form-navigation__step-submission-icon: var(--uds-icon-paperplane);
    --uds-form-navigation__step-submission-active-icon: var(
      --uds-icon-paperplaneFill
    );
    --uds-form-navigation__step-confirmation-icon: var(
      --uds-icon-sealCheckmark
    );
    --uds-form-navigation__step-confirmation-active-icon: var(
      --uds-icon-sealCheckmarkFill
    );

    all: unset;
    width: fit-content;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: var(--ds-size-2);
    position: relative;

    > div::after {
      content: '';
      display: block;
      width: var(--uds-form-navigation-icon-size);
      height: var(--uds-form-navigation-icon-size);
      background: currentColor;
      mask-image: var(--uds-form-navigation__step-icon);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &:hover {
      color: var(--ds-color-text-subtle);
    }

    /* IDLE */
    &[data-state='idle'] {
      &[data-variant='default'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-idle-icon
        );
        &:hover {
          --uds-form-navigation__step-icon: var(
            --uds-form-navigation__step-active-icon
          );
        }
      }
      &[data-variant='info'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-info-icon
        );
        &:hover {
          --uds-form-navigation__step-icon: var(
            --uds-form-navigation__step-info-active-icon
          );
        }
      }
      &[data-variant='summary'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-summary-icon
        );
        &:hover {
          --uds-form-navigation__step-icon: var(
            --uds-form-navigation__step-summary-active-icon
          );
        }
      }
      &[data-variant='submission'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-submission-icon
        );
        &:hover {
          --uds-form-navigation__step-icon: var(
            --uds-form-navigation__step-submission-active-icon
          );
        }
      }
      &[data-variant='confirmation'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-confirmation-icon
        );

        &:hover {
          --uds-form-navigation__step-icon: var(
            --uds-form-navigation__step-confirmation-active-icon
          );
        }
      }
    }

    /* ACTIVE */
    &[data-state='active'] {
      /*
       Using -webkit-text-stroke to simulate `font-weight: var(--ds-font-weight-medium);`
       in order to prevent layout shift when closing and opening the step group
       */
      -webkit-text-stroke: var(--uds-form-navigation-active-text-stroke);

      &[data-variant='default'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-active-icon
        );
      }
      &[data-variant='info'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-info-active-icon
        );
      }
      &[data-variant='summary'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-summary-active-icon
        );
      }
      &[data-variant='submission'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-submission-active-icon
        );
      }
      &[data-variant='confirmation'] {
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation__step-confirmation-active-icon
        );
      }
    }

    /* COMPLETED */
    &[data-state='completed'] {
      color: var(--ds-color-success-text-subtle);
      --uds-form-navigation__step-icon: var(
        --uds-form-navigation-completed-icon
      );
      &:hover {
        color: var(--ds-color-success-text-default);
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation-completed-active-icon
        );
      }
    }

    /* INVALID */
    &[data-state='invalid'] {
      color: var(--ds-color-danger-text-subtle);
      --uds-form-navigation__step-icon: var(--uds-form-navigation-invalid-icon);
      &:hover {
        color: var(--ds-color-danger-text-default);
        --uds-form-navigation__step-icon: var(
          --uds-form-navigation-invalid-active-icon
        );
      }
    }

    /* DISABLED */
    &:disabled {
      cursor: not-allowed;
      opacity: var(--ds-opacity-disabled);

      /* Avoid hover effect on icon when disabled */
      &[data-variant='confirmation'] {
        &:hover {
          --uds-form-navigation__step-icon: var(
            --uds-form-navigation__step-confirmation-icon
          );
        }
      }
    }

    @composes ds-focus from '@digdir/designsystemet-css/base.css';
  }

  .uds-form-navigation__group {
    --uds-form-navigation__group-icon: var(
      --uds-form-navigation__group-idle-icon
    );
    --uds-form-navigation__group-idle-icon: var(--uds-icon-tasklist);
    --uds-form-navigation__group-active-icon: var(--uds-icon-tasklistFill);
    --uds-form-navigation__group-chevron-icon: var(--uds-icon-chevronDown);
    --uds-form-navigation-connector: var(--ds-size-3);
    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }

    width: fit-content;

    /* Details content - container for the steps inside the group */
    &::details-content {
      block-size: 0;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
      gap: var(--uds-form-navigation-connector);
      transition:
        content-visibility 400ms allow-discrete,
        height 400ms;
    }

    &[open]::details-content {
      height: auto;
    }

    /* Make sure focusstyles for steps inside details-content dont get clipped */
    &[open]:has(:focus-visible:not(summary, summary *))::details-content {
      overflow: visible;
    }

    /* Summary - title button of the group */
    & summary {
      all: unset;
      width: fit-content;
      cursor: pointer;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: var(--ds-size-2);
      position: relative;
      &:hover {
        color: var(--ds-color-text-subtle);
      }

      /* Group icon */
      &::before {
        all: unset;
        content: '';
        display: block;
        width: var(--uds-form-navigation-icon-size);
        height: var(--uds-form-navigation-icon-size);
        background: currentColor;
        mask-image: var(--uds-form-navigation__group-icon);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      /* Chevron icon */
      &::after {
        all: unset;
        content: '';
        display: block;
        width: var(--uds-form-navigation-icon-size);
        height: var(--uds-form-navigation-icon-size);
        background: currentColor;
        mask-image: var(--uds-form-navigation__group-chevron-icon);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      @composes ds-focus from '@digdir/designsystemet-css/base.css';
    }

    /* Chevron toggle */
    &[open] > summary::after {
      rotate: 180deg;
    }

    /**
      * Group state styles
      */
    &[data-state='invalid'] > summary {
      color: var(--ds-color-danger-text-subtle);
      &:hover {
        color: var(--ds-color-danger-text-default);
      }
    }

    &[data-state='completed'] > summary {
      color: var(--ds-color-success-text-subtle);
      &:hover {
        color: var(--ds-color-success-text-default);
      }
    }

    &:not([open]) {
      /* IDLE */
      &[data-state='idle'] {
        --uds-form-navigation__group-icon: var(
          --uds-form-navigation__group-idle-icon
        );

        &:has(> .uds-form-navigation__step[data-state='active']) {
          --uds-form-navigation__group-icon: var(
            --uds-form-navigation__group-active-icon
          );
        }
      }

      /* INVALID */
      &[data-state='invalid'] {
        --uds-form-navigation__group-icon: var(
          --uds-form-navigation-invalid-icon
        );

        &:has(> .uds-form-navigation__step[data-state='active']) {
          --uds-form-navigation__group-icon: var(
            --uds-form-navigation-invalid-active-icon
          );
        }
      }

      /* COMPLETED */
      &[data-state='completed'] {
        --uds-form-navigation__group-icon: var(
          --uds-form-navigation-completed-icon
        );

        &:has(> .uds-form-navigation__step[data-state='active']) {
          --uds-form-navigation__group-icon: var(
            --uds-form-navigation-completed-active-icon
          );
        }
      }
    }

    /* Active step label */
    &:has(> .uds-form-navigation__step[data-state='active']) {
      &::after {
        content: attr(data-active-step-label);
        display: block;
        color: var(--ds-color-text-subtle);
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height 300ms ease;
      }

      &:not([open]) {
        span {
          /*
           Using -webkit-text-stroke to simulate `font-weight: var(--ds-font-weight-medium);`
           in order to prevent layout shift when closing and opening the step group
           */
          -webkit-text-stroke: var(--uds-form-navigation-active-text-stroke);
        }

        &::after {
          margin-block-start: var(--ds-size-1);
          margin-inline-start: calc(
            var(--uds-form-navigation-icon-size) + var(--ds-size-2)
          );
          opacity: 1;
          height: auto;

          @media (prefers-reduced-motion: no-preference) {
            @supports (interpolate-size: allow-keywords) {
              transition-delay: 300ms;
            }
          }
        }
      }
    }

    /* Connector - line between steps */
    > .uds-form-navigation__step {
      white-space: normal;
      align-items: flex-start;

      /* Center the icon on first line of the step label */
      > div::after {
        position: relative;
        top: 2px;
      }

      &:first-of-type {
        margin-block-start: var(--uds-form-navigation-connector);

        &::before {
          content: '';
          position: absolute;
          inset-inline-start: var(--ds-size-3);
          inset-block-end: calc(
            100% + (var(--uds-form-navigation-connector) / 2) - 5px
          );
          height: var(--uds-form-navigation-connector);
          transform: translateX(-50%);
          width: 1px;
          background-color: var(--ds-color-border-default);
        }
      }

      &::after {
        content: '';
        position: absolute;
        inset-block-start: calc(var(--uds-form-navigation-icon-size) + 4px);
        inset-block-end: calc(-1 * var(--uds-form-navigation-connector));
        inset-inline-start: var(--ds-size-3);
        transform: translateX(-50%);
        min-height: var(--uds-form-navigation-connector);
        width: 1px;
        background-color: var(--ds-color-border-default);
      }

      &:last-of-type::after {
        display: none;
      }
    }
  }
}
