.uds-form-navigation {
  --uds-form-navigation-connector: var(--ds-size-3);

  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::part(details-content) {
    padding-top: var(--uds-form-navigation-connector);
    block-size: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--uds-form-navigation-connector);
    transition:
      content-visibility 400ms allow-discrete,
      height 400ms;
  }

  &[open]::part(details-content) {
    height: auto;
  }

  & button {
    all: unset;
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--ds-size-2);
    position: relative;
    &:hover {
      color: var(--ds-color-text-subtle);
    }
  }

  > u-summary {
    > button:first-of-type {
      margin-left: 0;

      > svg:last-of-type {
        display: none;
      }
    }
  }

  &[open] > u-summary > button {
    > svg:nth-last-child(2) {
      display: none;
    }
    > svg:last-of-type {
      display: block;
    }
  }

  &:not([open]) > u-summary > button {
    > svg:nth-last-child(2) {
      display: block;
    }
    > svg:last-of-type {
      display: none;
    }
  }

  > u-summary::before {
    display: none;
  }

  &[data-state='invalid'] > u-summary > button {
    color: var(--ds-color-danger-text-subtle);
  }

  &[data-state='completed'] > u-summary > button {
    color: var(--ds-color-success-text-subtle);
  }

  > button {
    > div {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: calc(
          100% + (var(--uds-form-navigation-connector) / 2) - var(--ds-size-1)
        );
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: var(--ds-size-4);
        background-color: var(--ds-color-border-default);
      }
      > svg {
        display: none;
      }
    }

    &[data-state='idle'] > div > svg:first-of-type {
      display: block;
    }
    &[data-state='active'] > div > svg:nth-of-type(2) {
      display: block;
    }
    &[data-state='completed'] > div > svg:nth-of-type(3) {
      display: block;
      color: var(--ds-color-success-text-subtle);
    }
    &[data-state='invalid'] > div > svg:last-of-type {
      display: block;
      color: var(--ds-color-danger-text-subtle);
    }
    &:hover > div {
      > svg:first-of-type,
      > svg:nth-of-type(3),
      > svg:last-of-type {
        display: none;
      }
      > svg:nth-of-type(2) {
        display: block;
      }
    }

    @composes ds-focus from '@digdir/designsystemet-css/base.css';
  }

  @composes ds-focus from '@digdir/designsystemet-css/base.css';
}
