.tokensContainer {
  max-width: 700px;
  h2,
  h3,
  h4,
  h5 {
    margin-block: 1.5rem;
  }

  h5 {
    margin-block-end: 0;
  }

  p {
    margin-block: 1rem;
  }

  caption {
    margin-bottom: var(--ds-size-2);
  }
}

.tokens {
  margin-block-start: var(--ds-size-8);
}

.section {
  margin-block-end: var(--ds-size-22);
}

.input {
  max-width: 400px;
}

.tokensContainer code {
  padding: 0.2em 0.5em;
  margin: 1px;
  white-space: break-spaces;
  background-color: var(--ds-color-neutral-surface-tinted);
}
