.ds-field-necessity {
  --ds-field-necessity-required-text: 'Må fylles ut';
  --ds-field-necessity-optional-text: 'Valgfritt';
  @composes ds-tag from '@digdir/designsystemet-css/tag.css';

  /* repeat some code from DS because composes doesn't include nested rules */
  &[data-variant='outline'] {
    --dsc-tag-border-color: var(--ds-color-border-subtle);
  }

  @media (forced-colors: active) {
    border-width: var(--ds-border-width-default);
    border-style: solid;
    border-color: CanvasText;
  }
  /* end of repeated code */

  display: none;
}

.ds-field-necessity:empty::after {
  content: var(--ds-field-necessity-text) / '';
}

/* required input fields */
.ds-field:has(:required, [aria-required='true']) .ds-field-necessity,
/* fieldsets where all inputs are required */ 
.ds-fieldset:has(:required, [aria-required='true']):not(
    :has(:optional:not([aria-required='true']), [aria-required='false'])
  )
  .ds-field-necessity {
  --ds-color-surface-tinted: var(--ds-color-warning-surface-tinted);
  --ds-color-text-default: var(--ds-color-warning-text-default);
  --ds-color-border-subtle: var(--ds-color-warning-border-subtle);
  --ds-field-necessity-text: var(--ds-field-necessity-required-text);
  display: inline-flex;
}

/* optional input fields */
.ds-field:has(:optional:not([aria-required='true']), [aria-required='false'])
  .ds-field-necessity,
/* fieldsets where all inputs are optional */
.ds-fieldset:has(
    :optional:not([aria-required='true']),
    [aria-required='false']
  ):not(:has(:required, [aria-required='true']))
  .ds-field-necessity {
  --ds-color-surface-tinted: var(--ds-color-info-surface-tinted);
  --ds-color-text-default: var(--ds-color-info-text-default);
  --ds-color-border-subtle: var(--ds-color-info-border-subtle);
  --ds-field-necessity-text: var(--ds-field-necessity-optional-text);
  display: inline-flex;
}
