.visualization {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}

.table {
  width: 12.5rem;
}

.rightAlign {
  text-align: right;
}

.cards {
  display: flex;
  gap: var(--ds-size-2);
  flex-flow: wrap;
}
