.overview {
  &:not([hidden]) {
    display: flex;
  }
  flex-direction: column;
  gap: var(--ds-size-8);
  margin-top: var(--ds-size-4);
}

.overviewContent {
  display: flex;
  flex-flow: column;
  gap: var(--ds-size-10);

  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.datesCard {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  text-wrap: nowrap;
}
