.ds-alert {
  :is(h1, h2, h3, h4, h5, h6, .ds-heading) {
    margin-block-end: var(--ds-size-2);
  }
  /* adjust icon size to before Digdir v1.16.0 */
  --ds-icon-size: var(--ds-size-7);
  /* adjust border radius to before Digdir v1.21.1 */
  --dsc-alert-border-radius: var(--ds-border-radius-md);
}
