.uds-footer {
  background-color: var(--ds-color-accent-surface-tinted);
  left: 0;
  bottom: 0;
  padding-inline: var(--ds-size-5);
  padding-block: var(--ds-size-10);

  & .ds-link {
    --dsc-link-color--visited: var(--dsc-link-color);
  }

  /* sizing of socials icons */
  li :is(img, svg) {
    height: var(--ds-size-6);
    width: var(--ds-size-6);
    align-self: center;
  }

  > div {
    margin: 0 auto;
    position: relative;
    max-width: var(--udsc-footer-max-width, 80rem);
    box-sizing: border-box;
    gap: var(--ds-size-18);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: calc(10.5rem + var(--ds-size-22));
  }

  .uds-footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--ds-size-3);
    hyphens: auto;
    order: 0;

    &[data-variant='social'] {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .uds-footer__logo {
    position: absolute;
    top: 0;
    right: 0;
    height: fit-content;

    @composes ds-focus from '@digdir/designsystemet-css/base.css';
  }
}
/* Extra padding when social links are present */
.uds-footer:has(.uds-footer__list[data-variant='social']) > div {
  @media (min-width: 40rem) {
    padding-block-end: var(--ds-size-22);
  }
}

@media (max-width: 64rem) {
  .uds-footer {
    > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      gap: var(--ds-size-10);
    }
  }
}

/* Flow in a single column for smaller screens */

@media (max-width: 40rem) {
  .uds-footer {
    > div {
      display: flex;
      flex-direction: column;
      padding-inline: var(--ds-size-0);
      gap: var(--ds-size-10);
    }

    .uds-footer__list {
      &[data-variant='social'] {
        flex-direction: column;
        position: initial;
      }
    }

    .uds-footer__logo {
      position: relative;
      top: initial;
      right: initial;
      .uds-logo {
        --uds-logo-size: var(--ds-size-10);
      }
    }
  }
}
