:root,
[lang='nb'] {
  --udsc-fileUpload-addFile-text: 'Legg til fil';
  --udsc-fileUpload-addFiles-text: 'Legg til filer';
  --udsc-fileUpload-chooseFile-text: 'Velg fil';
  --udsc-fileUpload-chooseFiles-text: 'Velg filer';
  --udsc-fileUpload-dropFile-text: 'Dra og slipp filen her';
  --udsc-fileUpload-dropFiles-text: 'Dra og slipp filer her';
  --udsc-fileUpload-or-text: 'eller';
  --udsc-fileUpload-uploading-text: 'Laster opp...';
  --udsc-fileUpload-removeFile-text: 'Fjern filen';
}

[lang='en'] {
  --udsc-fileUpload-addFile-text: 'Add file';
  --udsc-fileUpload-addFiles-text: 'Add files';
  --udsc-fileUpload-chooseFile-text: 'Choose file';
  --udsc-fileUpload-chooseFiles-text: 'Choose files';
  --udsc-fileUpload-dropFile-text: 'Drag and drop file here';
  --udsc-fileUpload-dropFiles-text: 'Drag and drop files here';
  --udsc-fileUpload-or-text: 'or';
  --udsc-fileUpload-uploading-text: 'Uploading...';
  --udsc-fileUpload-removeFile-text: 'Remove file';
}

/* FileUpload.Dropzone and FileUpload.Trigger */
.uds-file-upload {
  --udsc-fileUpload-button-text: var(--udsc-fileUpload-addFile-text);
  --udsc-fileUpload-dropzone-button-text: var(
    --udsc-fileUpload-chooseFile-text
  );
  --udsc-fileUpload-dropzone-text: var(--udsc-fileUpload-dropFile-text);
  width: fit-content;

  & > input {
    @composes ds-sr-only from '@digdir/designsystemet-css/base.css';
  }

  &[aria-busy='true'] {
    & > .ds-card {
      cursor: progress;
    }
  }

  &:not([aria-busy='true']) {
    &:hover {
      & > .ds-card {
        cursor: pointer;

        & > .ds-button {
          background: var(--dsc-button-background--hover);
          color: var(--dsc-button-color--hover);
        }
      }
    }
  }

  /* Text for multiple files */
  &:has(input[type='file'][multiple]) {
    --udsc-fileUpload-button-text: var(--udsc-fileUpload-addFiles-text);
    --udsc-fileUpload-dropzone-button-text: var(
      --udsc-fileUpload-chooseFiles-text
    );
    --udsc-fileUpload-dropzone-text: var(--udsc-fileUpload-dropFiles-text);
  }

  /* Trigger texts */
  & > .ds-button::after {
    content: var(--udsc-fileUpload-button-text);
  }

  /* Dropzone texts */
  & > .ds-card {
    &::before {
      content: var(--udsc-fileUpload-dropzone-text);
    }
    & > span::before {
      content: var(--udsc-fileUpload-or-text);
    }
    & > .ds-button::after {
      content: var(--udsc-fileUpload-dropzone-button-text);
    }
  }

  & > .ds-card {
    margin-block-start: var(--ds-size-2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ds-size-2);
    --dsc-card-border-style: dashed;
  }
}

/* FileUpload.Item */
.uds-file-upload__item {
  padding: var(--ds-size-6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30rem;

  /* Uploading text in the paragraph after link */
  &[aria-busy='true'] .ds-link + .ds-paragraph::before {
    content: var(--udsc-fileUpload-uploading-text);
  }

  & > div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  & > div > svg {
    width: auto;
    height: var(--ds-size-10);
    margin-inline-end: var(--ds-size-3);
    align-self: center;
  }

  &[aria-invalid='true'] {
    --dsc-card-border-color: var(--ds-color-danger-border-strong);

    & > div:last-of-type > p {
      padding-inline-start: var(--ds-size-12);
      color: var(--ds-color-danger-text-subtle);
      display: flex;
      gap: var(--ds-size-2);
      margin-block-start: var(--ds-size-1);
      align-items: center;
    }
  }

  & > div > .ds-button {
    margin-inline-start: auto;
  }

  > * + * {
    margin-block-start: 0;
  }
}
