.container {
  container-type: inline-size;
  display: flex;
  gap: var(--ds-size-2);
  flex-flow: wrap;
}

.toggleGroup {
  flex-wrap: wrap;
  height: auto;
  min-width: 0;
  overflow-x: visible;

  label {
    min-width: 0;
    white-space: normal;
  }

  @container (max-width: 18.75rem) {
    justify-content: space-between;
    width: 100%;
    max-width: unset;
    label {
      flex-basis: 100%;
    }
  }
}
