/*
Fix focus style on details nested in card.
Can be removed after the next version of @digdir/designsystemet-css is released and we have upgraded.
*/
.ds-card {
  & > .ds-details:first-child > :is(summary, u-summary) {
    border-top-left-radius: var(--dsc-card-border-radius);
    border-top-right-radius: var(--dsc-card-border-radius);
  }
  & > .ds-details:last-child:not([open]) > :is(summary, u-summary) {
    border-bottom-left-radius: var(--dsc-card-border-radius);
    border-bottom-right-radius: var(--dsc-card-border-radius);
  }
}
