.dialog-main {
  container-type: inline-size;
  min-width: 200px;
  margin: var(--ds-size-2);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-8);
}

.dialog-filters-section {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  justify-content: flex-start;
  align-items: flex-start;
}

.dialog-suggestion-field {
  min-width: 150px;
  width: 100%;
}

.dialog-filters {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ds-size-4);
}

.dialog-section {
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-2);
  align-items: center;
}

.dialog-clear-filters {
  white-space: nowrap;
}

.show-below-mobile {
  display: table-cell;
}

.hide-below-mobile,
.desktop-only {
  display: none;
}

.dialog-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--ds-size-4);
  margin: var(--ds-size-6) var(--ds-size-2);
}

.dialog-controls-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  gap: var(--ds-size-2);
}

.dialog-controls-section-span {
  color: var(--ds-color-neutral-text-subtle);
}

.dialog-controls-section-select {
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-2);
  white-space: nowrap;
  align-items: center;
  > select {
    margin-top: 0;
  }
}

.dialog-active-filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-6);
}

.dialog-active-filters-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-size-2);
  max-width: min(30rem, 100%);
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--ds-size-2);
  }
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-size-2);
}

.dialog-footer button {
  margin: 0;
}

@container (min-width: 30rem) {
  .show-below-mobile {
    display: none;
  }

  .hide-below-mobile {
    display: table-cell;
  }

  .dialog-filters-section {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .dialog-filters {
    grid-template-columns: 1fr 1fr;
  }

  .dialog-suggestion-field {
    max-width: 280px;
    width: auto;
  }

  .dialog-controls-section {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: var(--ds-size-10);
  }
}

@container (min-width: 50rem) {
  .desktop-only {
    display: table-cell;
  }

  .dialog-filters-section {
    flex-direction: row;
    align-items: flex-end;
  }

  .dialog-controls {
    flex-direction: row;
    justify-content: space-between;
  }

  .dialog-controls-section {
    gap: var(--ds-size-6);
  }
}
