.tableContainer {
  grid-column: span 2;
}

.tableWrapper {
  overflow-x: auto;
}

.actionAndSearch {
  display: flex;
  flex-flow: wrap;
  gap: var(--ds-size-2);
  justify-content: space-between;
  margin-top: var(--ds-size-4);
}

.selectAction {
  display: flex;
  align-items: center;
}

.actionBtn {
  margin-left: var(--ds-size-2);
}

.tableSearch {
  width: 16.24rem;
}

.table {
  margin-top: var(--ds-size-4);

  th {
    white-space: nowrap;
  }
}
