.ds-spinner {
  &,
  &[data-size] {
    font-size: 1.83184ex;
  }

  height: var(--ds-size-11);
  width: auto;

  /* Ensure consistent size when explicitly setting data-size */
  &[data-size='2xs'] {
    height: 0.75rem;
  }

  &[data-size='xs'] {
    height: 1.25rem;
  }

  &[data-size='sm'] {
    height: 2rem;
  }

  &[data-size='md'] {
    height: 2.75rem;
  }

  &[data-size='lg'] {
    height: 3.75rem;
  }

  &[data-size='xl'] {
    height: 5.5rem;
  }
}
