.card {
  height: min-content;
  max-height: calc(100vh - var(--ds-size-12));
  margin-top: var(--ds-size-8);
  top: var(--ds-size-6);
  position: sticky;
  flex: 1 0 45%;
  overflow-y: auto;
}

.icon {
  @media (max-width: 47rem) {
    display: none;
  }
}

.dialog {
  z-index: 100;
  @media (min-width: 47rem) {
    display: none;
  }
}
