.example-main {
  margin: 20px;
}

.example-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--ds-size-4);
  margin: var(--ds-size-6) var(--ds-size-2);
}

.example-controls-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  gap: var(--ds-size-2);
}

.example-controls-section-select {
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-2);
  white-space: nowrap;
  align-items: center;
}

.example-controls-section-span {
  color: var(--ds-color-neutral-text-subtle);
}

@media (min-width: 48rem) {
  .example-controls-section {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: var(--ds-size-8);
  }
}

@media (min-width: 64rem) {
  .example-controls {
    flex-direction: row;
    justify-content: space-between;
  }

  .example-controls-section {
    gap: var(--ds-size-6);
  }
}
