.root {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  width: 100%;
  margin: auto;
  width: 40rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  padding: var(--ds-size-8);
}

.form {
  background-color: var(--ds-color-neutral-surface-tinted);
  border-radius: var(--ds-border-radius-md);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-8);
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-2);
}

.pagination {
  align-self: center;
}
