.tableContainer {
  grid-column: span 2;
}

.actionAndSearch {
  display: flex;
  justify-content: space-between;
  margin-top: var(--ds-spacing-4);
}

.selectAction {
  display: flex;
  align-items: center;
}

.actionBtn {
  margin-left: var(--ds-spacing-2);
}

.tableSearch {
  width: 260px;
}

.table {
  margin-top: var(--ds-spacing-4);
}
