.sbdocs-content {
  code {
    display: inline;
    border: none;
    border-radius: var(--ds-border-radius-sm);
    background: var(--ds-color-background-tinted);
  }

  code,
  kbd {
    font-size: round(down, 0.8em, 0.0625rem);

    // If the kbd element is used for an icon, add data-icon attribute
    &[data-icon] {
      font-size: 1.2em;
      padding: 0 0.3em 2px 0.3em;
      bottom: 0px;
    }
  }

  kbd {
    font-family:
      ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono',
      'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono', 'Courier New',
      monospace;
    background: var(--ds-color-background-tinted);
    padding: var(--ds-size-1);
    border-radius: var(--ds-border-radius-sm);
    border: solid 1px var(--ds-color-border-subtle);
    position: relative;
    bottom: 2px;
    box-shadow: 0.5px 1px 0 0 var(--ds-color-border-strong);
  }

  a {
    // Hack to properly render the link underline across regular text and code
    &:not([data-single-child]) > code {
      position: relative;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 4px;

      &::before,
      &::after {
        font-size: 8px;
        display: inline;
        content: '\00a0';
        position: relative;
      }
    }

    /* Only use hover for non-touch devices to prevent sticky-hovering */
    @media (hover: hover) and (pointer: fine) {
      &:hover > code {
        color: var(--ds-color-text-default);
        text-decoration-thickness: 0.125em;
      }
    }

    &:active > code {
      background-color: var(--ds-color-surface-tinted);
      color: var(--ds-color-text-default);
    }
  }

  blockquote {
    color: var(--ds-color-neutral-text-subtle);
    font-size: var(--ds-font-size-3);
    margin: var(--ds-size-4) 0px;
    border-left: 4px solid var(--ds-color-support1-surface-hover);
    padding: 0px var(--ds-size-4);
  }
}

.toc-list {
  .toc-list-item {
    .toc-link {
      color: var(--ds-color-neutral-text-subtle);
      &.is-active-link {
        color: var(--ds-color-neutral-text-default);
      }
    }
  }
}

// This is the right TOC sidebar
.sbdocs-content + div {
  // Fix width issue for the rendered TOC
  & > :first-child {
    width: auto;
  }
  // If TOC is disabled, hide the entire TOC sidebar
  &:empty {
    display: none;
  }
  // If TOC is enabled, but there is no content, hide the contents but keep the sidebar.
  // As the TOC renders after the rest of the page, this avoids temporarily showing
  // a TOC heading with no links.
  &:has(.toc-wrapper:empty) > :first-child {
    display: none;
  }
}
