@import '@udir-design/icons/css/component.css';
@import '@udir-design/icons/css/image.css';
@import '@udir-design/icons/css/informationSquare.css';
@import '@udir-design/icons/css/layers.css';
@import '@udir-design/icons/css/puzzlePiece.css';
@import '@udir-design/icons/css/rectangleSections.css';
@import '@udir-design/icons/css/token.css';
@import '@udir-design/icons/css/wrench.css';

.storybook-tag-badge {
  --ds-size-mode-font-size: 0.85;
  margin-left: auto;
  margin-right: 34px;
  min-height: 18px;
  flex-shrink: 0;
}

.sidebar-subheading-icon {
  flex-shrink: 0;
  width: 1.125rem;
  height: 1.125rem;
  background: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;
}

[aria-controls='storybook-mobile-menu'] .uds-sb-sidebar-name {
  display: none;
}
.uds-sb-mobile-nav-button {
  display: none;
  margin-right: var(--ds-size-2);
}
[aria-controls='storybook-mobile-menu'] .uds-sb-mobile-nav-button {
  display: inline;
}
