.uds-header {
  --udsc-header-height: var(--ds-size-22);
  --udsc-header-padding: var(--ds-size-5);
  @media (max-width: 30rem) {
    --udsc-header-height: calc(var(--ds-size-22) - var(--ds-size-2));
    --udsc-header-padding: var(--ds-size-4);
  }

  box-sizing: border-box;
  height: var(--udsc-header-height);
  padding: var(--udsc-header-padding);
  background-color: var(--ds-color-background-default);
  transform: translateY(0);
  z-index: 10;

  > div {
    display: flex;
    height: 100%;
    gap: var(--ds-size-8);
    align-content: center;
    justify-content: space-between;
    max-width: var(--udsc-header-max-width, 80rem);
    margin: 0 auto;
  }

  .ds-link {
    --dsc-link-color--visited: var(--dsc-link-color);
  }

  .uds-header__logo {
    display: inline-flex;
    align-items: center;
    gap: var(--ds-size-3);
    text-decoration: none;
    color: var(--dsc-link-color);

    @composes ds-focus from '@digdir/designsystemet-css/base.css';
  }

  .uds-header__content {
    display: flex;
    gap: var(--ds-size-8);
    align-items: center;
    width: 100%;
    justify-content: flex-end;

    > .ds-tag {
      margin-inline-end: auto;
    }
  }

  .uds-header__search {
    width: var(--ds-size-22);
    transition: width 300ms ease-out;

    ::placeholder {
      color: var(--ds-color-text-default);
    }

    > input {
      padding-inline-end: var(--ds-size-1);
    }

    &:focus-within,
    &:has(input:not(:placeholder-shown)) {
      ::placeholder {
        color: var(--ds-color-text-subtle);
      }
      width: calc(var(--ds-size-18) * 4);
      > input {
        padding-inline-end: var(--ds-size-10);
      }
    }

    &:not(:focus-within):not(:has(input:not(:placeholder-shown))) {
      @media (hover: hover) and (pointer: fine) {
        &:hover > input {
          background-color: var(--ds-color-surface-hover);
          color: var(--ds-color-text-subtle);
          cursor: pointer;
        }
      }
    }
  }

  .uds-header__menu-button {
    > svg:first-of-type {
      display: block;
    }

    > svg:last-of-type {
      display: none;
    }

    &:has(+ [popover]:popover-open) {
      > svg:first-of-type {
        display: none;
      }
      > svg:last-of-type {
        display: block;
      }
    }
  }

  .uds-header__menu {
    all: unset;
    display: none;
    position: fixed;
    width: 100%;
    border: none;
    inset-block-start: calc(var(--udsc-header-padding) - var(--ds-size-3));
    max-height: 0;
    overflow: hidden;
    background-color: var(--ds-color-background-default);
    inset-inline-start: 0;

    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
      .uds-header__menu-link {
        text-decoration: none;
        display: flex;
        gap: var(--ds-size-1);
        width: fit-content;
        & > svg {
          transform: translateY(var(--ds-size-1));
          flex-shrink: 0;
        }
      }
    }

    /* Remove popover arrow */
    &::before {
      display: none;
    }

    /* Animate dropdown menu */
    transition:
      max-height 500ms ease,
      overlay 500ms,
      display 500ms;
    transition-behavior: allow-discrete;
    animation: 1.3s delay-overflow;

    &:popover-open {
      max-height: calc(
        95% - (var(--udsc-header-height) + (var(--udsc-header-padding) * 2))
      );
      overflow: auto;
      display: block;
      @starting-style {
        & {
          max-height: 0;
          display: block;
        }
      }
    }
  }

  .uds-header__user-button {
    all: unset;
    display: flex;
    width: fit-content;
    max-width: 16rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    gap: var(--ds-size-2);
    background-color: transparent;
    padding: var(--ds-size-2) var(--ds-size-4) var(--ds-size-2) var(--ds-size-8);
    cursor: pointer;

    &[data-color='accent'] {
      background-color: var(--ds-color-surface-tinted);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--ds-color-surface-hover);
      }
    }

    &:active {
      background-color: var(--ds-color-surface-active);
    }

    > div:first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: 0;
      .ds-heading,
      .ds-paragraph {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    > svg {
      margin-inline-start: var(--ds-size-1);
      flex-shrink: 0;
    }

    > svg:nth-last-child(2) {
      display: block;
      width: auto;
      height: var(--ds-size-6);
    }

    > svg:last-child {
      display: none;
      width: auto;
      height: var(--ds-size-6);
    }

    &:has(+ [popover]:popover-open) {
      > svg:nth-last-child(2) {
        display: none;
      }
      > svg:last-child {
        display: block;
      }
    }

    @composes ds-focus from '@digdir/designsystemet-css/base.css';
  }

  .uds-header__navigation {
    ul {
      display: flex;
      align-items: center;
      gap: var(--ds-size-8);
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .ds-link {
      text-decoration-color: var(--ds-color-border-default);
      white-space: nowrap;

      &:hover {
        text-decoration-color: var(--ds-color-border-subtle);
        text-decoration-thickness: var(--ds-border-width-focus);
      }

      &:active {
        text-decoration-color: var(--ds-color-border-strong);
      }

      &[aria-current='page'] {
        text-decoration-thickness: var(--ds-border-width-focus);
        color: var(--dsc-link-color);
        text-decoration-color: var(--ds-color-border-default);
      }
    }
  }

  /* Shadow when not on top */
  &[data-top='true'] {
    box-shadow: none;
  }
  &[data-top='false'] {
    box-shadow: var(--ds-shadow-sm);
  }

  /* Sticky auto hide header */
  &[data-scroll-direction] {
    position: sticky;
    inset-block-start: 0;
    transition:
      transform 200ms ease,
      box-shadow 200ms ease;
  }
  &[data-scroll-direction='down']:not(:has([popover]:popover-open)) {
    transform: translateY(
      calc(-1 * var(--udsc-header-height) - (var(--udsc-header-padding) * 2))
    );
    box-shadow: none;
  }
  &[data-scroll-direction='up'] {
    transform: translateY(0);
  }

  /* Show element from size */
  [data-show='xs'] {
    @media (max-width: 30rem) {
      display: none;
    }
  }
  [data-show='sm'] {
    @media (max-width: 40rem) {
      display: none;
    }
  }
  [data-show='md'] {
    @media (max-width: 48rem) {
      display: none;
    }
  }
  [data-show='lg'] {
    @media (max-width: 64rem) {
      display: none;
    }
  }
  [data-show='xl'] {
    @media (max-width: 80rem) {
      display: none;
    }
  }

  /* Hide element from size */
  [data-hide='xs'] {
    @media (width > 30rem) {
      display: none;
    }
  }
  [data-hide='sm'] {
    @media (width > 40rem) {
      display: none;
    }
  }
  [data-hide='md'] {
    @media (width > 48rem) {
      display: none;
    }
  }
  [data-hide='lg'] {
    @media (width > 64rem) {
      display: none;
    }
  }
  [data-hide='xl'] {
    @media (width > 80rem) {
      display: none;
    }
  }
}

@keyframes delay-overflow {
  from {
    overflow: hidden;
  }
}

/* Overlay on background when menu is open */
:has(> .uds-header .uds-header__menu)::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 300ms ease-in-out,
    visibility 0s linear 300ms;
  z-index: 9;
}

:has(> .uds-header .uds-header__menu:popover-open)::before {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 300ms ease-in-out;
}

/* Parent needs overflow: visible for sticky header to work */
:has(> .uds-header) {
  overflow: visible;
}

/* Prevent body from scrolling when menu is open */
body:has(.uds-header .uds-header__menu:popover-open) {
  overflow: hidden;
}
