body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv05' 1; /* Enable lowercase l with tail */
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    max-width: 80rem;
    margin: 0 auto;
    flex-grow: 1;
    padding-block: var(--ds-size-5);
  }

  .footer {
    bottom: 0;
    flex-grow: 0;
  }
}
