name: CI

on:
  push:
    branches:
      - main
      - dev
      - release/*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  actions: read
  contents: read
  checks: write

env:
  AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
  NX_KEY: ${{ secrets.NX_KEY }}

jobs:
  main:
    runs-on: ubuntu-latest
    outputs:
      run_ui_tests: ${{ steps.job_condition.outputs.run_ui_tests }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/pnpm-setup

      - name: Print affected projects
        run: |
          pnpm nx show projects --affected --base $NX_BASE --head $NX_HEAD \
            | grep -v "^info" || echo "No projects affected" && true

      - name: Determine whether storybook-tests & chromatic need to run
        id: job_condition
        run: |
          IS_REACT_AFFECTED=$(./@internal/build-tools/bin/is-project-affected.sh @udir-design/react)
          echo "Is this a PR which is ready for review? $IS_PR_READY"
          echo "Is @udir-design/react affected? $IS_REACT_AFFECTED"
          echo "Is this a push to a protected branch? $IS_PUSH"
          (($IS_PR_READY && $IS_REACT_AFFECTED) || $IS_PUSH) && RUN_UI_TESTS=true || RUN_UI_TESTS=false
          echo "Conclusion: should we run UI tests? $RUN_UI_TESTS"
          echo "run_ui_tests=$RUN_UI_TESTS" >> "$GITHUB_OUTPUT"
        env:
          IS_PR_READY: ${{ github.event_name == 'pull_request' && !github.event.pull_request.draft }}
          IS_PUSH: ${{ github.event_name == 'push' }}

      - name: Skip 'Storybook Publish' check
        if: steps.job_condition.outputs.run_ui_tests == 'false'
        uses: LouisBrunner/checks-action@6b626ffbad7cc56fd58627f774b9067e6118af23 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Storybook Publish
          conclusion: skipped
      - name: Skip 'UI Tests' check
        if: steps.job_condition.outputs.run_ui_tests == 'false'
        uses: LouisBrunner/checks-action@6b626ffbad7cc56fd58627f774b9067e6118af23 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: UI Tests
          conclusion: skipped
      - name: Skip 'UI Review' check
        if: steps.job_condition.outputs.run_ui_tests == 'false'
        uses: LouisBrunner/checks-action@6b626ffbad7cc56fd58627f774b9067e6118af23 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: UI Review
          conclusion: skipped

      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: pnpm commitlint --last --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: pnpm commitlint --from ${{ github.event.pull_request.base.sha}} --to ${{ github.event.pull_request.head.sha }} --verbose

      - run: pnpm build

      - name: Fail if the build changed any checked-in files
        run: git diff --stat --exit-code

  storybook-tests:
    runs-on: ubuntu-latest
    needs: main
    if: needs.main.outputs.run_ui_tests == 'true'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: ./.github/actions/pnpm-setup
      - name: Run Storybook tests
        run: pnpm nx test:storybook

  chromatic:
    runs-on: ubuntu-latest
    needs: [main]
    if: needs.main.outputs.run_ui_tests == 'true'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/pnpm-setup

      - name: Build storybook
        run: pnpm nx build:docs

      - name: Publish Storybook to Chromatic
        uses: chromaui/action@5ec258af08deb3e8c36653bd618cb7fe52090031 # v15.2.0
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: '@udir-design/react'
          storybookBuildDir: ./storybook-static
          exitZeroOnChanges: true
          exitOnceUploaded: true
          onlyChanged: true
          externals: 'design-tokens/src/**'
          untraced: '@udir-design/react/.storybook/docs/**'

  release:
    needs: [main, storybook-tests, chromatic]
    if: |
      always() && !failure() && !cancelled() &&
      (github.event_name == 'push' || github.event_name == 'pull_request') &&
      startsWith( (github.base_ref || github.ref_name), 'release/')
    uses: ./.github/workflows/release.yml
    with:
      dry-run: false
    secrets: inherit
    permissions:
      actions: read
      contents: write
      pull-requests: write
      id-token: write

  deploy-docs:
    runs-on: ubuntu-latest
    needs: [release]
    # Deploy on pushes to main & release/* branches
    if: |
      always() && !failure() && !cancelled() &&
      github.event_name == 'push' &&
      (github.ref_name == 'main' || startsWith(github.ref_name, 'release/'))
    environment: production
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/pnpm-setup

      - name: Build storybook
        run: pnpm nx build:docs

      - shell: bash
        env:
          BRANCH: ${{ github.ref_name }}
        run: echo "DESTINATION_PATH=${BRANCH/release\//}" >> $GITHUB_ENV
      - uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        name: Empty target directory
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.DOCS_STORAGE_CONNECTION_STRING}}
        with:
          azcliversion: 2.78.0
          inlineScript: |
            az storage blob delete-batch --account-name stdesignsystemdocs -s '$web' --pattern "$DESTINATION_PATH/*"
      - uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        name: Upload to target directory
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.DOCS_STORAGE_CONNECTION_STRING}}
        with:
          azcliversion: 2.78.0
          inlineScript: |
            az storage blob upload-batch --account-name stdesignsystemdocs -s @udir-design/react/storybook-static -d '$web' --destination-path $DESTINATION_PATH
