name: Release

on:
  workflow_call:
    inputs:
      dry-run:
        type: boolean
        default: true
    secrets:
      AZURE_STORAGE_CONNECTION_STRING:
        required: true
      NX_KEY:
        required: true

env:
  AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
  NX_KEY: ${{ secrets.NX_KEY }}
  # either the PR *target* branch, or the current branch being released
  BRANCH_NAME: ${{ github.base_ref || github.ref_name }}

jobs:
  semantic-release:
    name: ${{ github.event_name == 'pull_request' && 'Preview release changelog' || 'Publish semantic release' }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write # needs to read contents, and publish tags / github releases
      pull-requests: write # needed to comment on pull requests
      id-token: write # needed for trusted publishing to npm and provenance data generation
    steps:
      - name: Configure git user
        run: |
          # Setup the committers identity.
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - uses: ./.github/actions/pnpm-setup
        with:
          registry-url: 'https://registry.npmjs.org'

      # Retrieve builds from the cache for the projects we are releasing
      - run: pnpm nx run-many -t build -p "@udir-design/*"

      - name: Preview semantic-release for this PR
        if: success() && github.event_name == 'pull_request'
        run: ./@internal/build-tools/bin/semantic-release.ts --branch $BRANCH_NAME --preview-changelog

      - name: Output preview changelog to file
        if: success() && github.event_name == 'pull_request'
        run: ./@internal/build-tools/bin/preview-changelogs.sh > CHANGELOG_PREVIEW.md

      - name: Add changelog as comment on PR
        if: success() && github.event_name == 'pull_request'
        run: gh pr comment $PR_NUMBER --edit-last -F CHANGELOG_PREVIEW.md || gh pr comment $PR_NUMBER -F CHANGELOG_PREVIEW.md
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run semantic-release script
        if: success() && github.event_name != 'pull_request'
        run: ./@internal/build-tools/bin/semantic-release.ts --branch $BRANCH_NAME ${{ inputs.dry-run && '--dry-run' || '--publish'}}
        shell: bash
        # See https://docs.github.com/en/actions/use-cases-and-examples/publishing-packages/publishing-nodejs-packages
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
