name: Alert for available major version updates
on:
  workflow_dispatch:
  schedule:
    # Runs at 23:00, only on Sunday
    - cron: 0 23 * * 0

jobs:
  update-major-alert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/pnpm-setup
      - name: Find outdated major versions
        id: outdated_majors
        run: |
          {
            echo "slack_message<<EOF"
            ./@internal/build-tools/bin/get-outdated-majors.sh
            echo EOF
          } >> $GITHUB_OUTPUT
      - name: Post to slack
        if: steps.outdated_majors.outputs.slack_message
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.SLACK_DS_UDIR_DEV_WEBHOOK }}
          webhook-type: incoming-webhook
          errors: true
          retries: RAPID
          payload: ${{ steps.outdated_majors.outputs.slack_message }}
