name: Update @digdir/* packages
on:
  workflow_dispatch:
  schedule:
    # Runs at 01:00, Monday through Friday
    - cron: 0 1 * * 1-5

jobs:
  update-digdir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/pnpm-setup
      - name: Check if update is necessary
        run: echo "version=$(pnpm outdated -r '@digdir/*' --json | jq -r '."@digdir/designsystemet".latest // ""')" >> "$GITHUB_OUTPUT"
        id: digdir_info
      - name: Update @digdir/* packages
        if: steps.digdir_info.outputs.version
        run: pnpm update -r --latest "@digdir/*" && pnpm dedupe
      - name: Rebuild theme
        if: steps.digdir_info.outputs.version
        run: pnpm nx run @udir-design/theme:build
      - name: Update snapshots
        if: steps.digdir_info.outputs.version
        run: pnpm nx test:storybook -u
      - name: Create or update pull request
        if: steps.digdir_info.outputs.version
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          branch: build/update-digdir
          base: ${{ github.event.repository.default_branch }}
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          commit-message: 'build: update `@digdir/*` to ${{ steps.digdir_info.outputs.version }}'
          title: 'build: update `@digdir/*` to ${{ steps.digdir_info.outputs.version }}'
          body: |
            Updates all packages in the `@digdir` scope to the latest version.

            > [!IMPORTANT]
            > If this update includes features or bugfixes that are relevant to our users,
            > manually rebase this branch and change the conventional-commits type from `build` to
            > `feat` or `fix`, and add a body which describes the relevant features or fixes.
          draft: always-true
