.wrapper {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}

.buttons {
  display: flex;
  gap: var(--ds-size-2);

  & > .ds-button {
    width: wrap-content;
  }
}
